*/GUIA 3 - controlStructures/..
/GUIA 3 - controlStructures/calculadora2Nums/nbproject/private/
/GUIA 3 - controlStructures/calculadora2Nums/build/
/GUIA 3 - controlStructures/fraseLong8/nbproject/private/
/GUIA 3 - controlStructures/fraseLong8/build/
/GUIA 3 - controlStructures/fraseA/nbproject/private/