*/GUIA 3 - controlStructures/..
/GUIA 3 - controlStructures/calculadora2Nums/nbproject/private/
/GUIA 3 - controlStructures/calculadora2Nums/build/
/GUIA 3 - controlStructures/fraseLong8/nbproject/private/
/GUIA 3 - controlStructures/fraseLong8/build/
/GUIA 3 - controlStructures/fraseA/nbproject/private/
/GUIA 3 - controlStructures/parOImpar/nbproject/private/
/GUIA 3 - controlStructures/fraseEureka/nbproject/private/
/GUIA 3 - controlStructures/buscarValorLimitePositivo/nbproject/private/
/GUIA 3 - controlStructures/conversorMinutosADias/nbproject/private/
/GUIA 3 - controlStructures/capturarCero/nbproject/private/
/GUIA 3 - controlStructures/multiplo/nbproject/private/
/GUIA 3 - controlStructures/multiplo/build/
/GUIA 4 - applets/secuenciaCaracteres/nbproject/private/
/GUIA 4 - applets/secuenciaCaracteres/build/
/GUIA 4 - applets/multiplo/nbproject/private/
/GUIA 3 - controlStructures/conversorMinutosADias/build/
/GUIA 4 - applets/calculadoraBasica/nbproject/private/
/GUIA 4 - applets/cambioDivisas/nbproject/private/
/GUIA 4 - applets/cambioDivisas/build/
/GUIA 4 - applets/nombreYEdad/nbproject/private/
/GUIA 4 - applets/nombreYEdad/build/